<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>609048962059-8ta0tmsaeihaob2chb66dua6fqmoguh2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.609048962059-8ta0tmsaeihaob2chb66dua6fqmoguh2</string>
	<key>API_KEY</key>
	<string>AIzaSyC5IGldflMrvll1dE5PcDLqMUavWGUCunE</string>
	<key>GCM_SENDER_ID</key>
	<string>609048962059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ratatosk.beetees</string>
	<key>PROJECT_ID</key>
	<string>beetees-e12dd</string>
	<key>STORAGE_BUCKET</key>
	<string>beetees-e12dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609048962059:ios:d85c70ec811af72392d30e</string>
	<key>DATABASE_URL</key>
	<string>https://beetees-e12dd.firebaseio.com</string>
</dict>
</plist>